
body{
     text-align:center;
}
div{
    height:100px;
    width:500px;
    border:1px solid black;
    margin:auto
}
h1{
    display:inline-block;
    margin:50px;
}
button{
    border-radius:3px;
    font-weight:bold;
}
li{
    color:black;
    font-weight:bold;
}
input{
    border:1px solid black;
}
/*input::placeholder{
color:black;
}*/
img{
     border:1px solid black;
}
.last{
    font-size:30px;
}
